            h1
            {
                color: rgb(1, 170, 170);
                font-size: 60px;
            }
            h2
            {
                color: rgb(1, 170, 170);
            }
            h3
            {
                color: rgb(1, 170, 170);
            }
            h4
            {
                color: rgb(1, 170, 170);
            }
            p
            {
                color:azure;
                font-size: 18px;
                background-color: #6a6a6a;
                border: solid #989797 5px;
                padding: 7px;
            }
            body
            {
                font-family: Verdana, Arial, sans-serif;
            }
            .center 
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                border-radius: 8px;
            }
            .personal {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                left: 100px;
                right: 320px;
                bottom: 295px;
                width: 60%;
              }
            table
            {
                border: 1px solid white;
            }
            li
            {
                color: azure;
            }
            th, td
            {
                color: azure;
                background: #6a6a6a;
            }